doctype html
html(lang='en' xmlns='http://www.w3.org/1999/html')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Document
  body
    style.
      html,
      body {
      margin: 0px;
      height: 100%;
      overflow: hidden;
      background-color: black;
      }
    //- Third party libraries
    script(src='/javascripts/rhea.min.js')
    script(src='/javascripts/phaser.min.js')
    script(src='/javascripts/uuidv4.min.js')
    script(src='/javascripts/protobuf.js')
    script(src='/javascripts/lodash.min.js')
    block content
